[Desktop Entry]
Categories=Qt;KDE
Comment=
Exec=trainer %U
GenericName=Sport Coach
GenericName[ca]=Entrenador esportiu
GenericName[ca@valencia]=Entrenador esportiu
GenericName[es]=Entrenador deportivo
GenericName[et]=Sporditreener
GenericName[fr]=Coach sportif
GenericName[it]=Preparatore sportivo
GenericName[ko]=스포츠 코치
GenericName[nl]=Sportcoach
GenericName[nn]=Idrettstrenar
GenericName[pt]=Treinador Desportivo
GenericName[sk]=Sportový tréner
GenericName[sl]=Športni trener
GenericName[sv]=Sporttränare
GenericName[uk]=Спортивний тренер
GenericName[x-test]=xxSport Coachxx
Icon=trainer
Name=Trainer
Name[ca]=Entrenador
Name[ca@valencia]=Entrenador
Name[cs]=Trainer
Name[es]=Trainer
Name[et]=Treener
Name[fr]=Trainer
Name[it]=Allenatore
Name[ko]=Trainer
Name[nl]=Trainer
Name[nn]=Trenar
Name[pt]=Trainer
Name[sk]=Trainer
Name[sl]=Trener
Name[sv]=Trainer
Name[uk]=Тренер
Name[x-test]=xxTrainerxx
StartupNotify=false
Terminal=false
Type=Application
