[Desktop Entry]
Categories=Qt;KDE
Comment=
Exec=trainer %U
GenericName=Sport Coach
GenericName[ca]=Entrenador esportiu
GenericName[et]=Sporditreener
GenericName[it]=Preparatore sportivo
GenericName[nl]=Sportcoach
GenericName[uk]=Спортивний тренер
GenericName[x-test]=xxSport Coachxx
Icon=trainer
Name=Trainer
Name[ca]=Entrenador
Name[et]=Treener
Name[it]=Allenatore
Name[nl]=Trainer
Name[uk]=Тренер
Name[x-test]=xxTrainerxx
StartupNotify=false
Terminal=false
Type=Application
